<div id="mobile-token-movement-controls" class="flexrow">
    <div class="flexcol">
        <button class="mtmc-topleft">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button class="mtmc-left">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button class="mtmc-bottomleft">
            <i class="fas fa-arrow-left"></i>
        </button>
    </div>
    <div class="flexcol">
        <button class="mtmc-top">
            <i class="fas fa-arrow-up"></i>
        </button>
        <button class="mtmc-select">
            <i class="fa fa-street-view"></i>
        </button>
        <button class="mtmc-bottom">
            <i class="fas fa-arrow-down"></i>
        </button>
    </div>
    <div class="flexcol">
        <button class="mtmc-topright">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button class="mtmc-right">
            <i class="fas fa-arrow-right"></i>
        </button>
        <button class="mtmc-bottomright">
            <i class="fas fa-arrow-left"></i>
        </button>
    </div>
    <div class="flexcol">
        <button class="mtmc-zoomin">
            <i class="fas fa-search-plus"></i>
        </button>
        <button class="mtmc-zoomout">
            <i class="fas fa-search-minus"></i>
        </button>
    </div>
</div>
